doctype html
html lang="pl"
  head
    title Republika Ostrowska
    meta charset="utf-8"
    meta name="description" content="Projektowanie publikacji drukowanych, elektronicznych i stron internetowych"
    meta name="projektowanie publikacji, projektowanie książek, skład publikacji, skład książek, usługi poligraficzne, e-book, kindle, mobi, projektowanie stron internetowych, typografia, redakcja, korekta, korekta techniczna, Ostrów Wielkopolski"
    meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
    meta name="viewport" content="width=device-width, initial-scale=1.0"

    /! Styles
    link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Reenie+Beanie|Open+Sans&amp;subset=latin-ext'
    link rel="stylesheet" href="assets/css/bootstrap.min.css"
    link rel="stylesheet" href="assets/css/index.css"

    /[if lt IE 9]
      script src="//html5shiv.googlecode.com/svn/trunk/html5.js"
    /[if gte IE 9]
      css:
        .divider-long, .divider-short { filter: none; }

    javascript:
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30854008-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    .container#main
      .row
        .span3
          header
            img#logo src="assets/img/logo.png" width="185" height="288" alt="Republika Ostrowska"
          #email
            a.btn.btn-inverse href="mailto:tomasz@mieloch.net"
              i.icon-envelope.icon-white
              | &nbsp;tomasz@mieloch.net
        section.domain.span3
          .divider-long
          .divider-short
          .photo-frame
            img src="assets/img/type.jpg" width="190" height="190" alt="Metalowe czcionki"
            h1 Publikacje
          h2 Publikacje drukowane
          p
            ' Od projektu do druku: książki, podręczniki, czasopisma, foldery, instrukcje,
            | plakaty, ulotki, wizytówki, gadżety promocyjne
          h2 Publikacje elektroniczne
          p
            | E-booki, prezentacje, animowane wykresy, infografika
        section.domain.span3
          .divider-long
          .divider-short
          .photo-frame
            img src="assets/img/keyboard.jpg" width="190" height="190" alt="Fragment klawiatury komputera"
            h1 Internet
          h2 Strony internetowe
          p
            ' Wizytówki firmowe, blogi, strony wielojęzyczne, aplikacje sieciowe, systemy zarządzania
            | treścią, usługi hostingowe
          h2 Interfejsy użytkownika
          p
            | Animacje, pokazy slajdów, galerie, wizualizacja danych
        section.domain.span3
          .photo-frame
            img src="assets/img/blackboard.jpg" width="190" height="190" alt="Alfabet napisany kredą na tablicy szkolnej"
            h1 Edukacja
          h2 Kursy i szkolenia
          p
            ' Typografia, skład książek, przygotowanie do druku, praca w pakiecie Adobe Creative
            | Suite, tworzenie stron internetowych
          h2 Redakcja i korekta
          p
            | Prace dyplomowe, redakcja techniczna książek
      .row
        .span12
          footer
            address
              ' Republika Ostrowska,
              a href="http://maps.google.pl/maps?q=Republika+Ostrowska&amp;hl=pl&amp;ll=51.648944,17.817392&amp;spn=0.009267,0.015428&amp;georestrict=input_srcid:f29931b784855526&amp;view=map&amp;cid=5575509083694644530&amp;hq=Republika+Ostrowska&amp;t=v&amp;z=16" title="Mapa dojazdu do Republiki Ostrowskiej"
                i.icon-map-marker.icon-white
              ' 
              ' ul. Kościelna 4/4. 63-400 Ostrów Wielkopolski,
              | tel. +48 62 738 11 18, +48 695 748 228, NIP 612-150-42-05, Regon 231099867
